/**
 * @file.
 * Base elements.
 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  border-color: $black;
  color: $black;
  font-family: $primary-font;
  font-size: $font-size-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Headings. */

/* Lists. */

/* Links. */

/* Text. */
p {
  margin: 0 0 $base-spacing;
}

blockquote {
  font-style: italic;
  font-weight: 400;
}

summary {
  cursor: pointer;
}

/* Images. */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Tables. */
