/**
 * @file
 * Buttons.
 */

.btn,
%btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $primary-font;
  margin-bottom: $base-spacing;
  text-decoration: none;
}

.btn--primary,
%btn--primary {
  // Add properties.
  color: $black;
}
