/**
 * @file
 * Form elements.
 */

label {
  &.form-required {
    &::after {
      content: "*";
      display: inline;
    }
  }
}

input,
select,
textarea {
  appearance: none;
  box-sizing: border-box;
  color: $black;
  display: inline-block;
  font-family: $primary-font;
  font-size: px2rem(16);
  width: 100%;

  &::placeholder {
    opacity: 1;
  }
}

input[type="submit"] {
  @extend %btn;
  @extend %btn--primary;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  .required & {
    &::after {
      content: "*";
      display: inline;
    }
  }
}

/* Drupal form classes. */
.form-item {
  margin-bottom: $base-spacing;
}
