/**
 * @file
 * Helpers / utility classes.
 */

/* Spacing. */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.v-spacing {
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;
}

.v-spacing--bottom {
  padding-bottom: $base-spacing;
}

.v-spacing--top {
  padding-top: $base-spacing;
}

/* Display. */
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/* Print. */
.print-hide {
  @include print-hide;
}

/* Responsive videos. */
.video-wrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  video,
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
