/**
 * @file.
 * Functions.
 */

$default-font-size: 16;

/* Converting px to em. */
@function px2em($size-in-px, $base-size: $default-font-size) {
  $em-size: calc($size-in-px / $base-size);

  @return #{$em-size}em;
}

/* Converting px to rem ($size-in-px can be unitless or in px. */
@function px2rem($size-in-px) {
  @if unitless($size-in-px) {
    $size-in-px: $size-in-px * 1px;
  }

  $rem-size: calc($size-in-px / ($default-font-size * 1px));

  @return #{$rem-size}rem;
}

/**
 * Get z-index from sass map.
 *
 * Usage: z-index: z('default');
 */
@function z($key) {
  @return map-get($z-index, $key);
}
