/**
 * @file
 * Mixins.
 */

/* Min-width breakpoints. */
@mixin bp($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media only screen and (min-width: px2rem(map-get($breakpoints, $bp))) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint #{$bp} (not in $breakpoints map - see '_variables.scss' file).";
  }
}

/* Max-width breakpoints. */
@mixin bp-up-to($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media only screen and (max-width: px2rem((map-get($breakpoints, $bp)) - 1)) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint #{$bp} (not in $breakpoints map - see '_variables.scss' file).";
  }
}

/* Clearing floats. */
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/* Print. */
@mixin print {
  @media print {
    @content;
  }
}

@mixin print-hide {
  @media print {
    display: none !important;
  }
}

/* Removes default styling for ul/ol lists. */
@mixin list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0;
    padding: 0;
  }
}

/* Icons. */
@mixin icon($icon: "", $color: null, $size: cover, $position: center center) {
  @if $color {
    background-image: svg-load("images/" + $icon + ".svg", fill=$color);
  } @else {
    background-image: svg-load("images/" + $icon + ".svg");
  }
  background: {
    position: $position;
    repeat: no-repeat;
    size: $size;
  };
}

@mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}
