/**
 * @file
 * Theme variables.
 */

/* ----- Colors ----- */
// Brand colors.
$brand-yellow: #e7b426;
$brand-blue: #191b24;

// Greyscale colors.
$black: #000;
$white: #fff;

/* ----- Fonts ----- */
$font-size-base: 16px;
$primary-font: arial, sans-serif;
$secondary-font: serif;

/* ----- Breakpoints (used in breakpoint mixin and grid) ----- */
$breakpoints: (
  xs: 480,
  s: 600,
  m: 768,
  l: 1024,
  xl: 1400
);

/* ----- Grid ----- */
$column-count: 12;
$container-width: 1312px;
$gutter: 32px;
$outside-gutter-mobile: 16px;
$outside-gutter-desktop: 64px;

/* ----- Z-index ----- */
$z-index: (
  contentAbove: 1,
  default: 0,
  contentBelow: -1
);

/* ----- Spacing ----- */
$base-spacing: px2rem(16);
